.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

src/wifi_secret.h
platformio.local.ini

# Build-/Tooling-Artefakte (nie committen)
.venv/
esp32/
protection_v024.json
